.home-desktop{
    &__root{
        background-color: $main-color;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
        color: $second-color;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        animation: fade-in 600ms normal forwards;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &__section{
        @include section;
        width: calc(100vw - 15rem);
    &--first{
        @include section;
        width: calc(100vw - 15rem);
        margin-left: 15rem;
    }
    &--last{
        @include section;
        height: 100vh;
        width: calc(50vw - 10rem);
        
    }
    
    }
    
}