.home-desktop{
    &__root{
        background-color: $main-color;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
        color: $second-color;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        animation: fade-in 600ms normal forwards;
        // &::-webkit-scrollbar{
        //     display: none;
        // }
    }
    &__section{
        flex-shrink: 0;
        width: calc(100vw - 15rem);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    &--first{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: calc(100vw - 15rem);
        height: 100vh;
        margin-left: 15rem;
    }
    
    }
    
}