@keyframes scroll-right {
    0%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(0%);
    }
    85%{
        transform: translateX(15%);
    }
    90%{
        transform: translateX(0%);
    }
    95%{
        transform: translateX(15%);
    }
    100%{
        transform: translateX(0%);
    }
}