@import "./styles/animations/fadeIn.scss";
@import "./styles/animations/fadeOut.scss";
@import "./styles/animations/slideUp.scss";
@import "./styles/animations/underlineMovement.scss";
@import "./styles/animations/goTop.scss";
@import "./styles/mixins/generalDiv.scss";
@import "./styles/mixins/section.scss";
@import "./styles/variables/colors.scss";
@import "./components/Footer/Footer.scss";
@import "./components/HeaderDesktop/HeaderDesktop.scss";
@import "./components/Hero/Hero.scss";
@import "./components/HomeDesktop/HomeDesktop.scss";
@import "./components/HomeFooter/HomeFooter.scss";
@import "./components/HomeInfo/HomeInfo.scss";
@import "./components/HomeMobile/HomeMobile.scss";
@import "./components/HomeServices/HomeServices.scss";
@import "./components/HomePartners/HomePartners.scss";
@import "./components/Navbar/Navbar.scss";
@import "./views/Home/Home.scss";

body {
  margin: 0;
  background-color: $main-color;
  font-family: -apple-system, BlinkMacSystemFont, "Optima",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
