.account-history {
  &__root {
    @include root;
    background-color: $second-color;
    overflow: scroll;
    color: $main-color;
    justify-content: flex-start;
    @media (min-width: $mobile) {
      justify-content: center;
      min-height: 47rem;
      margin-top: 2rem;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  @include transaction;
  &__wrapper {
    height: calc(100vh - 13rem);
    background-color: $second-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    width: 100vw;
    @media (min-width: $mobile) {
      height: 70vh;
    }
  }
  &__log-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__box {
      padding: 0.5rem;
      background-color: $main-color;
      color: $second-color;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 80%;
      border-radius: 1rem;
      &__item {
        margin-bottom: 0.1rem;
        margin-left: 1rem;
      }
    }
    &__row {
      display: flex;
      margin-bottom: 1rem;
      width: 100%;
      border-bottom: 0.03rem solid $main-color;
      height: 100%;
      justify-content: space-between;
      &__item {
        &--index {
          text-align: center;
          width: 3.5%;
        }
        &--type {
          text-align: center;
          display: flex;
          justify-content: center;
          width: 35%;
        }
        &--amount {
          text-align: center;
          display: flex;
          justify-content: center;
          width: 14.5%;
        }
        &--date {
          text-align: center;
          display: flex;
          justify-content: center;
          width: 35%;
        }
      }
    }
  }
  &__btn-container {
    display: flex;
    height: 5rem;
    max-width: 80%;
    align-items: center;
    overflow-x: auto;
    margin-top: 2rem;
    transition: all 300ms ease-in;
    @media (min-width: $mobile) {
      margin-top: 0rem;
    }
    &__btn {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      border: 0.03rem solid $main-color;
      margin-left: 1rem;
      background-color: $second-color;
      color: $main-color;
      &:focus {
        border: 0.03rem solid $main-color;
      }
    }
  }
}
.on {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 1rem;
  border: 0.03rem solid $second-color;
  margin-left: 1rem;
  background-color: $main-color;
  color: $second-color;
  &:focus {
    border: 0.03rem solid $second-color;
  }
}
