.account-history{
    &__root{
        @include root;
        background-color: $second-color;
        overflow: scroll;
        color: $main-color;
        transition: all ease-in 300ms;
        @media (min-width: $mobile) {
          height: 100vh;
          overflow: hidden;
        }
      }
      @include transaction;
      &__wrapper {
        background-color: $second-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 80vh;
        width: 100vw;
        @media (min-width: $mobile) {
          height: 70vh;
        }
      }
      &__log-list{
        padding: 0;
        margin: 0;
        list-style: none;
        width: 80%;
        &__box{
            background-color: $main-color;
            color: $second-color;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            
            border-radius: 1rem;
            &__item{
                margin-left: 1rem;
    
            }
          }
      }
      
}